@keyframes SkeletonLoad {
  0% {
    background-position: 0% 31%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 31%;
  }
}

@keyframes Spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
